.category-card {
  display: block;
}

.category-card__title {
  position: absolute;
  top: var(--category-card-top);
  left: var(--category-card-left);
  z-index: 11;
  margin-top: -2.4%;
  margin-left: -2%;
  color: var(--color-white);
  font-family: var(--font-display);
  font-size: 2.5rem;
  font-weight: 100;
  text-shadow: 1px 1px 2px var(--color-black);
}

.category-card__link {
  position: absolute;
  top: var(--category-card-top);
  left: var(--category-card-left);
  z-index: 9;
  width: var(--category-card-width);
  height: var(--category-card-height);
  overflow: hidden;
}

.category-card__media {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transition: all var(--transition-slow);
}

.category-card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-white);
  padding: 5px 35px;
  color: var(--color-white);
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity var(--transition-slow);
}

.category-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity var(--transition-slow);
}

.category-card__link:hover .category-card__media,
.category-card__link:focus .category-card__media {
  outline: 2px solid var(--color-white);
  outline-offset: -25px;
}

.category-card__link:hover .category-card__image,
.category-card__link:focus .category-card__image {
  opacity: 0.2;
}

.category-card__link:hover .category-card__cta,
.category-card__link:focus .category-card__cta {
  opacity: 1;
}

@media only screen and (max-width: 50em) {
  .category-card {
    width: calc(100vw - 50px);
  }

  .category-card__title,
  .category-card__link {
    position: static;
  }

  .category-card__title {
    margin: 0;
    font-size: 2rem;
  }

  .category-card__link {
    display: block;
    width: 100%;
    height: 300px;
  }

  .category-card__cta {
    font-size: 1rem;
    opacity: 1;
  }

  .category-card__image {
    opacity: 0.4;
  }
}
